{% extends 'men/basic.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="post-about">
    <p> Добро пожаловать на мой сайт о знаменитостях из США! Здесь вы найдете информацию о некоторых из самых ярких и
        известных американских актеров, спортсменов и певцов.</p>

    <p>Начнем с актеров. Среди них есть настоящие звезды Голливуда, такие как Том Хэнкс, Дженнифер Энистон, Брэд Питт,
        Энди
        Гарсия и Мерил Стрип. Они снимались в множестве блокбастеров и номинировались на престижные кинопремии, такие
        как
        "Оскар" и "Золотой глобус".</p>

    <p>Спортсмены из США также имеют впечатляющую репутацию в мире спорта. Баскетболисты, футболисты, бейсболисты,
        боксеры
        - каждый из них достигал больших успехов в своей специальности. Некоторые из наиболее известных спортсменов из
        США,
        которых мы можем увидеть на этом сайте, это Майкл Джордан, Майк Тайсон, Леброн Джеймс, Серена Уильямс и Тайгер
        Вудс.</p>

    <p>Наконец, мы не можем забыть о певцах. США - это место рождения многих знаменитых музыкантов и певцов, которые
        стали
        звездами во всем мире. Вы можете узнать больше о таких легендах, как Майкл Джексон, Элвис Пресли, Мадонна,
        Тейлор
        Свифт и Бруно Марс.</p>

    <p>В общем, на этом сайте вы найдете много интересной информации об американских знаменитостях, которые покорили мир
        своим талантом и достижениями. Если вы хотите узнать больше о своих любимых звездах, вы на правильном сайте!</p>

</div>
{% endblock %}